<div id = 'addCoin'>
	<div id = 'explain'>
		Input the trading name of any cryptocurrency and we will instantly find all of it's critical data. 
	</div>

	<input type="text" id="coin-input" placeholder="ETC">
	<button id = "submit-coin-input">Add Coin</button>
</div>