 <div class = "coin">

      <div class = "name">
        <span class = "coin-image">
          <img src = "btc.png" class = "coin-icon" id = "btc-icon">
        </span>
        <span class = "coin-full">
          Bitcoin (BTC)
        </span>

          <button type="button" id="btc-star">
            <i class="far fa-star"></i>
          </button>
      </div>

      <div class = "price">

        <span class = "current-price-box">
          <span class = "price-label">
           Current Price
          </span>

          <span class = "currency">
           $
          </span>
          <span class = "price-value" id = 'btc-current-price'>
            .. ..  ..
          </span>
        </span>

      <span class = "current-change-box">
          <span class = 'price-change-label'>
            24 Hour Price change
          </span>
          <span class = "price-change-value" id = 'btc-price-change-value'>
            .. ..  ..
          </span>
          <span class = "percent">
           %
          </span>
      </span>

      </div>

      <div class = "volume-marketCap">
        <span class = "marketCap">
        <span class = "marketCap-label">
          Market Cap
        </span>

        <span class = "currency">
              $
          </span>

        <span class = "marketCap-value" id = 'btc-marketCap'>
        </span>

        </span>

      <span class = "twentyFourHrVolume">
        <span class = "twentyFourHrVolume-label">
          24 Hour Volume
        </span>

        <span class = "twentyFourHrVolume-value" id = 'btc-twentyFourHrVolume'>
        </span>

        <span class = "coin-currency">
              BTC
          </span>

        </span>
      </div>

      <div class="graph-container">
        <canvas class = "chart" id="btcChart" height="220"></canvas>
      </div>

  </div>

<!-- /////////////////////////////////////////////////////// E T H E R E U M ///////////////////////////////////////////////////////////////// -->

    <div class = "coin">

      <div class = "name">
        <span class = "coin-image">
          <img src = "eth.png" class = "coin-icon" id = "eth-icon">
        </span>
        <span class = "coin-full">
          Ethereum (ETH)
        </span>

           <button type="button" id="eth-star">
            <i class="far fa-star"></i>
           </button>
      </div>

      <div class = "price">

        <span class = "current-price-box">
          <span class = "price-label">
           Current Price
          </span>

          <span class = "currency">
           $
          </span>
          <span class = "price-value" id = 'eth-current-price'>
            .. ..  ..
          </span>
        </span>

      <span class = "current-change-box">
          <span class = 'price-change-label'>
            24 Hour Price change
          </span>
          <span class = "price-change-value" id = 'eth-price-change-value'>
            .. ..  ..
          </span>
          <span class = "percent">
           %
          </span>
      </span>

      </div>

    <div class = "volume-marketCap">
        <span class = "marketCap">
        <span class = "marketCap-label">
          Market Cap
        </span>

        <span class = "currency">
              $
          </span>

        <span class = "marketCap-value" id = 'eth-marketCap'>
        </span>

        </span>

      <span class = "twentyFourHrVolume">
        <span class = "twentyFourHrVolume-label">
          24 Hour Volume
        </span>

        <span class = "twentyFourHrVolume-value" id = 'eth-twentyFourHrVolume'>
        </span>

        <span class = "coin-currency">
              ETH
          </span>

        </span>
      </div>

       <div class="graph-container">
        <canvas class = "chart" id="ethChart" height="220"></canvas>
      </div>
    </div>

<!-- /////////////////////////////////////////////////////// R I P P L E ///////////////////////////////////////////////////////////////// -->

    <div class = "coin">

      <div class = "name">
        <span class = "coin-image">
          <img src = "xrp.png" class = "coin-icon" id = "xrp-icon">
        </span>
        <span class = "coin-full">
          Ripple (XRP)
        </span>
        
          <button type="button" id="xrp-star">
            <i class="far fa-star"></i>
          </button>
      </div>

      <div class = "price">

        <span class = "current-price-box">
          <span class = "price-label">
           Current Price
          </span>

          <span class = "currency">
           $
          </span>
          <span class = "price-value" id = 'xrp-current-price'>
            .. ..  ..
          </span>
        </span>

      <span class = "current-change-box">
          <span class = 'price-change-label'>
            24 Hour Price change
          </span>
          <span class = "price-change-value" id = 'xrp-price-change-value'>
            .. ..  ..
          </span>
          <span class = "percent">
           %
          </span>
      </span>

      </div>

      <div class = "volume-marketCap">
        <span class = "marketCap">
        <span class = "marketCap-label">
          Market Cap
        </span>

        <span class = "currency">
              $
          </span>

        <span class = "marketCap-value" id = 'xrp-marketCap'>
        </span>

        </span>

      <span class = "twentyFourHrVolume">
        <span class = "twentyFourHrVolume-label">
          24 Hour Volume
        </span>

        <span class = "twentyFourHrVolume-value" id = 'xrp-twentyFourHrVolume'>
        </span>

        <span class = "coin-currency">
              XRP
          </span>
        </span>
      </div>


    <div class="graph-container">
        <canvas class = "chart" id="xrpChart" height="220"></canvas>
      </div>
    </div>
